.results {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .image-section {
    flex: 1;
  }
  
  .temple-image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .details-section {
    flex: 2;
    padding-left: 20px;
  }
  